<div class="content-subhead">
    <div class="pure-g">
        <div class="pure-u-1-5">聊天室</div>
        <div class="pure-u-4-5 horizontal-right"></div>
    </div>
</div>
{{message-list content=messages currentUser=currentUser}}
{{message-create currentUser=currentUser relativeController=this}}
