<div class="pure-g">
  <div class="pure-u-1 pure-form pure-form-stacked">
    <fieldset>
      <div class="pure-g">
        <div class="pure-u-1">
          {{textarea elementId="message_create" class="pure-input-1" value=view.body}}
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="pure-g">
        <div class="pure-u-1" style="text-align: right;">
          <button class="pure-button pure-button-primary" {{action createMessage target=view}}>发送</button>
        </div>
    </fieldset>
  </div>
</div>