<div class="slideshow">
  <ul>
    {{!--<li><img src="img/slideshow/football/1.jpg"></li>
    <li><img src="img/slideshow/football/2.jpg"></li>
    <li><img src="img/slideshow/football/3.jpg"></li>
    <li><img src="img/slideshow/football/4.jpg"></li>--}}
    <li><img src="img/slideshow/demo/1.jpeg"></li>
    <li><img src="img/slideshow/demo/2.jpeg"></li>
    <li><img src="img/slideshow/demo/3.jpeg"></li>
    <li><img src="img/slideshow/demo/4.jpeg"></li>
  </ul>
</div>